.auth-box {
	background-color: rgb(159, 163, 163);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 40vh;
	width: 60vw;
	border: solid 2px black;
	border-radius: 20px;
	padding: 10px;
}
