.login-wrapper {
    background-color: $theme-color-blue;
    height: 100vh;
    width: 100vw;
}

.auth-box {
    background-color: $theme-color-grey;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    // height: 60vh;
    width: 60vw;
    border-radius: 1rem;
    // padding: 1rem;
    padding: 4rem 2rem;
    color: $text-color-white-dim;
}

.heading {
    text-align: center;

    &-primary {
        font-size: 2.6rem;
        font-weight: 600;
        display: block;
        color: $text-color-white;
    }
    &-secondary {
        font-size: 1.8rem;
        font-weight: 400;
    }
}

.login-form-wrapper {
    margin-left: 2rem;
    & .text-input-label {
        font-size: 1.4rem;
        font-weight: 700;
    }

    & .text-input-box {
        display: block;
        height: 5rem;
        width: 96%;
        margin-top: 0.5rem;
        // margin-bottom: 2rem;
        font-size: 1.9rem;
        color: $text-color-white-dim;
        background-color: $theme-color-grey-dark;
        border: 0px;
        padding-left: 1rem;
        text-decoration: none;
    }

    & .forgot-password {
        display: inline-block;
        color: $theme-color-blue;
        margin-top: 0;
    }

    & .login-button {
        display: block;
        width: 96%;
        height: 5rem;
        font-size: 1.9rem;
        color: $text-color-white;
        background-color: $theme-color-blue;
        border: none;
        border-radius: 0.4rem;
        margin-top: 2rem;

        &:hover {
            background-color: $theme-color-blue-dark;
            cursor: pointer;
        }
    }

    & .wrong-cred {
        color: $text-color-red;
    }

    & .warn-hidden {
        color: $text-color-red;
        font-weight: 200;
    }

    & .hidden {
        display: none;
    }
}

.registration-nav-button {
    margin: 1rem 0 0 2rem;
    &-sec {
        color: $theme-color-blue;
        margin-left: 0.5rem;
    }
}

.router-link {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.dob-picker {
    width: 96%;
    justify-content: space-between;

    & .rsd__select-container-month,
    .rsd__select-container-day,
    .rsd__select-container-year {
        width: 32%;

        & .rsd__select-month,
        .rsd__select-day,
        .rsd__select-year {
            background-color: $theme-color-grey-dark;
            color: $text-color-white-dim;
            height: 5rem;
            font-size: 1.8rem;
            border: none;
            border-radius: 0.5rem;

            &:hover {
                cursor: pointer;
                color: $text-color-white;
            }
        }
    }
}
